img { display: block;}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.container { max-width: 320px;
    /* padding: 0 15px; */
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
    
}
@media screen and (min-width:1158px){
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

a { text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.section {
 padding-top: 96px;
 padding-bottom: 96px;
}

@media screen and (min-width:1158px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

img {
    width: 100%;
    height: auto;
}

/* ----------------HEADER----------------*/

.header-link {
    /* display: flex;
    gap: 40px; */
    display: none;
}
@media screen and (min-width:768px) {
    .header-link {
        display: flex;
        gap: 40px;
        margin-right: 120px;
    }
}
@media screen and (min-width:1158px){
    .header-link {
        margin-right: 332px;
    }
    
}

.header-div { 
height: 56px;
display: flex;
align-items: center;
/* height: 72px; */
}
@media screen and (min-width:768px){
    .header-div {
        height: 72px;
    }
}
@media screen and (min-width:1158px) {
    .header-div {
        width: 1440px;
        /* padding: 0 15px 0 15px; */
        /* margin: 0 auto; */
        align-items: center;
        margin: 0 156px;
    }
}

.header-nav { display: flex;
align-items: center;
}

.header { 
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
 .logo-web {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        /* margin-right: 76px; */
        margin-right: 120px;
        text-decoration: none; }

@media screen and (min-width:1158px){
    .logo-web {
        margin-right: 76px;
    }
}
.menu-btn {
    background-color: transparent;
    border: none;
}

@media screen and (min-width:768px){
    .menu-btn {
        display: none;
    }
}

 .studio {
    color: #2e2f42;
 }

 .link-header {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.current {
    position: relative;
    color: #404bbf;
}
.current::after{
    content: "";
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
}

 .link-header:hover,
 .link-header:focus {
    color: #404bbf;
 }

 .address {
    /* font-style: normal;
    margin-left: auto; */
    display: none;
 }
@media screen and (min-width:768px) {
    .address {
        display: inline-block;
        font-style: normal;
    }
    }
@media screen and (min-width:1158px){
    .address {
        font-style: normal;
        /* margin-left: auto; */
        margin-right: 156px;
    }
}
 .address-list {
    display: none;}

 @media screen and (min-width:768px){
    .address-list {
        display: flex;
        flex-direction: column;
        gap:12px;
    }
 }

 @media screen and (min-width:1158px){
    .address-list {
        flex-direction: row;
        gap: 40px;
    }
 }

 .address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 @media screen and (min-width:768px){
    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px; 
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #434455;
    }
 }
 @media screen and (min-width:1158px) {
    .address-link {
        font-size: 16px;
    }   
 }
 .address-link:hover,
 .address-link:focus {
    color: #404bbf;
 }
/* -------------------------------*/

/*---------------BODY---------------*/

/*---------------section1---------------*/
.sec-one {
    background-color: #2e2f42;
    /* padding: 188px 0; */
    background-image: linear-gradient(rgba(46,47,66,0.7),rgba(46,47,66,0.7)), url(../images/bckgr-image-mob.jpg);
    /* max-width: 1440px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    margin: 0 auto;
}
@media screen and (min-width:768px){
    .sec-one {
        padding-top: 112px;
        padding-bottom: 112px;
    }
}
@media screen and (min-width:1158px){
    .sec-one {
    padding: 188px 0;
    max-width: 1440px;
    }
}

.sec-one-prg {
    /* font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px; */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-bottom: 76px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width:768px){
    .sec-one-prg {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 36px;
    }
}
.sec-one-btn {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.sec-one-btn:hover,
.sec-one-btn:focus {
    background-color: #404bbf;
} 

/*------------------------------------*/

/*---------------section2---------------*/


.sec-two-ul {
/* gap: 24px;
 */
 flex-direction: column;
 gap: 72px;
 
}

@media screen and (min-width:768px) {
    .sec-two-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    }
}

@media screen and (min-width:1158px){
    .sec-two-ul{
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }
}
.sec-two-li {
   /*  width: calc((100% - 72px)/ 4); */
   max-width: 288px;
   margin-right: auto;
   margin-left: auto;
}
@media screen and (min-width:768px) {
.sec-two-li  {
    max-width: 356px;
}
}

@media screen and (min-width:1158px){
    .sec-two-li {
        width: calc((100% - 72px)/ 4);
    }
}
.sec-two-div {
   /*  display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px; */
    display: none;
}

@media screen and (min-width:1158px){
    .sec-two-div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
}
.sec-two-features {
   /*  font-weight: 500;
    font-size: 20px;
    line-height: 1.2; */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
@media screen and (min-width:768px){
    .sec-two-features {
        text-align: left;
    }
}

@media screen and (min-width:1158px){
    .sec-two-features{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }
}
.sec-two-prg {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width:1158px){
    .sec-two-prg{
        font-weight: 400;
    }
}
/*------------------------------------*/

/*---------------section3---------------*/
.sec-three {
    background-color: #F4F4FD;
   /*  padding: 120px 0; */
}

.sec-three-dscr {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.sec-three-ul {
/* gap: 24px; */
flex-direction: column;
gap: 72px;

}
@media screen and (min-width:768px) {
    .sec-three-ul{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }
}

.sec-three-li {
    background-color: #FFFFFF;
    /* width: calc((100%- 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px 2px 1px rgba(46, 47, 66, 0.08);
}

.worker {
padding: 32px;
padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-prg {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-li {
    width: 40px;
    height: 40px;
}
.links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.links:hover,
.links:focus {
    background-color: #404bbf;
}

.svg-links {
    fill: #F4F4FD;
}

/*------------------------------------*/

/*---------------section4---------------*/
.sec-four {
    /* padding: 120px 0 120px 0; */
}

.sec-four-ul {
    /* flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; */
    flex-direction: column;
    gap: 48px;

}

@media screen and (min-width:768px) {
    .sec-four-ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 72px 24px;
        justify-content: center;
    }
}

.sec-four-li {
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4,0,0.2,1);
}

@media screen and (min-width:768px){
    .sec-four-li {
        max-width: 356px;
        flex-basis: calc((100% - 24px)/2);
    }
}


.sec-four-li:hover {
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px 2px 1px rgba(46, 47, 66, 0.08);  
}
.sec-four-li:hover .p-img {
    transform: translateY(0%);
}
.p-img {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}

.sec-four-img {
    position: relative;
    overflow: hidden;

}
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.portfolio-dscr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-prg {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*------------------------------------*/

/*---------------FOOTER---------------*/
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
@media screen and (min-width:768px) {
    .footer {
        padding: 96px 0;
    }
}
@media screen and (min-width:1158px) {
    .footer {
        padding: 100px 0;}
    }

.footer-container {
    /* align-items: baseline; */
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0;
}
@media screen and (min-width:768px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 72px 24px;
        padding-left: 108px;
    }
}
@media screen and (min-width:1158px) {
    .footer-container {
        gap: unset;
        padding-left: 15px;
    }
    .footer-div {
        margin-right: 120px;
    }
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
}
@media screen and (min-width:768px){
    .footer-logo {
        justify-content: left;
    }
}

.footer-logo-span {
    color: #F4F4FD;
}

.footer-prg {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin: 0;
    max-width: 264px;
}
@media screen and (min-width:1158px) {
    .social-div {
        margin-right: auto;
    }
}
.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}
@media screen and (min-width:768px){
    .footer-social {
        text-align: left;
    }
}

.foot-soc {
    gap: 16px;
}

.footer-mod {
    /* margin-left: 80px; */ 
}

.foot-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

@media screen and (min-width:768px){
    .foot-p {
        text-align: left;
    }
}

.foot-form {
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
}
@media screen and (min-width:768px){
    .foot-form {
        flex-direction: row;
        gap: 24px;
    }
}

.foot-email {
    /* width: 264px; */
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 16px;
}

.foot-email::placeholder {
    color: #ffffff;
}

.sub-btn {
    /* min-width: 165px; */
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    align-items: center;
    margin: 0 auto;
}

.btn {
    margin-left: 16px;
}

.container footer {
    /* margin-right: 120px; */
}

.footer-links:hover,
.footer-links:focus {
    background-color: #31d0aa;
}
/*-------------------------------------*/
/*--------------MODAL-----------*/
@media screen and (min-width:1158px){
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4,0,0.2,1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),0px 1px 3px rgba(0, 0, 0, 0.12),0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
    padding: 72px 24px 24px 24px;
}

.mod-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1),border 250ms cubic-bezier(0.4,0,0.2,1);
}

.mod-btn:hover,
.mod-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close {
    transition: fill 250ms cubic-bezier(0.4,0,0.2,1);
}

.form-div {
    margin-bottom: 8px;
}

.label-form {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.icon-div {
    position: relative;
}

.input-user {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.input-user:focus {
    border-color: #4D5AE5;
}

.input-user:focus+svg {
    fill: #4D5AE5;
}

.form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4,0,0.2,1);
}
.form-svg:focus{
    fill: #4D5AE5;
}

.com-div {
    margin-bottom: 16px;
}

.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border:  1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.checkbox {
    margin-bottom: 24px;
}

.chck-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    
}

.label-span {
    width: 16px;
    height: 16px;
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px; 
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1),
    border 250ms cubic-bezier(0.4,0,0.2,1),
    fill 250ms cubic-bezier(0.4,0,0.2,1);
}


.pol-link {
    color: #4d5ae5;
}

.send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
    border-radius: 4px;
    margin: 0 auto;
}

input:checked+label>span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
}

/*---mobile-menu---*/
@media screen and (min-width:320px) and (max-width:767px) {
    
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding-left: 16px;
    padding-right: 24px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-mod-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1),border 250ms cubic-bezier(0.4,0,0.2,1);
}
.mobileclose {
    transition: fill 250ms cubic-bezier(0.4,0,0.2,1);
}
.mobile-header-nav {
    display: flex;
align-items: center;
}
.mobile-ul {
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;
}
.mobile-li {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-address {
    flex-direction: column;
    font-style: normal;
    margin-top: 168px;
    gap: 24px;
}
.mobile-address-list {
    display: flex;
    flex-direction: column;
    gap:12px;
}
.mobile-address-link {
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    
}
.mobile-social {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.mobile-social-li {
    width: 40px;
    height: 40px;
}
.mobile-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.mobile-svg-links {
    fill: #F4F4FD;
}

.is-open{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
}
/*---mobile-modal---*/
@media screen and (min-width:320px) and (max-width:767px) {
    
.mobile-backdrop {
    position: fixed;
    top: 8px;
    left: 16px;
    right: 16px;
    bottom: 9px;
    width: 288px;
    height: 623px;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4,0,0.2,1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding-left: 16px;
    padding-right: 16px;
}
.mobile-modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 288px;
    height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),0px 1px 3px rgba(0, 0, 0, 0.12),0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}

.mobile-mod-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1),border 250ms cubic-bezier(0.4,0,0.2,1);
}
.mobile-close {
    transition: fill 250ms cubic-bezier(0.4,0,0.2,1);
}
.mobile-modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 72px;
    margin-left: 16px;
    margin-right: 16px;
}
.mobile-form-div {
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
}
.mobile-label-form {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.mobile-icon-div {
    position: relative;
}
.mobile-input-user {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.mobile-form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4,0,0.2,1);
}
.mobile-com-div {
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.mobile-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border:  1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.mobile-checkbox {
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
}

.mobile-chck-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.mobile-label-span {
    width: 16px;
    height: 16px;
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px; 
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1),
    border 250ms cubic-bezier(0.4,0,0.2,1),
    fill 250ms cubic-bezier(0.4,0,0.2,1);
}

.mobile-pol-link {
    color: #4d5ae5;
}
.mobile-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
    border-radius: 4px;
    margin: 0 auto;
}
}